.slide {
  transform: scale(0.7);
  transition: transform 300ms;
  opacity: 0.5;
}

.slideWrapper {
  display: flex;
  justify-content: center;
}

.slick-list {
  margin: 0 -590px;
}

.slick-slider {
  overflow: hidden;
}
