.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;
    /* Neutral/02 */

    border: 1px dashed #D0D0D0;
    color: #8A8A8A;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
