.form-input {
  margin-top: 30%;
  width: 100%;
  border-radius: 20px;
}

.form-control {
  border-radius: 20px;
  height: 46px;
  margin-bottom: 10px;
}

.profile-input {
  top: 10px;
  justify-content: center;
  position: sticky;
  max-width: 100%;
  max-height: 100%;
}