* {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

h5 {
    font-weight: bold;
}

p {
    text-align: left;
    font-size: 14px;
}

.card-product {
    top: 10px;
    width: 430px;
    height: 300px;
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.card-product-buyer {
    top: 10px;
    width: 430px;
    height: 200px;
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.card-seller {
    top: 30px;
    width: 430px;
    height: 85px;
    border-radius: 16px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.seller {
    width: 100%;
}

.button-product {
    justify-content: center;
    width: 400px;
    height: 50px;
    margin: 10px;
    background-color: #7126B5;
    border-color: #7126B5;
    color: white;
    border-radius: 16px;
}

.button-product:hover {
    background-color: #7126B5;
    color: white;
    border-color: #7126B5;
}

.button-seller {
    justify-content: center;
    width: 400px;
    height: 50px;
    margin: 10px;
    background-color: #7126B5;
    border-color: #7126B5;
    color: white;
    border-radius: 16px;
}

.button-seller-outline {
    justify-content: center;
    width: 400px;
    height: 50px;
    margin: 10px;
    border-color: #7126B5;
    color: black;
    border-radius: 16px;
}

.button-seller-outline:hover {
    background-color: #7126B5;
    color: white;
    border-color: #7126B5;
}

.button-seller:hover {
    background-color: #7126B5;
    color: white;
    border-color: #7126B5;
}