.card-items {
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 10%;
}

.card-img-top {
  object-fit: cover;
  border-radius: 4px;
  margin-top: 5%;
  width: 90%;
  text-align: center;
}

.card-product {
  top: 10px;
  width: 430px;
  height: 300px;
  border-radius: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.card-bargain {
  top: 10px;
  width: 430px;
  height: 230px;
  border-radius: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.card-seller {
  width: 100%;
  height: 50%;
  border-radius: 16px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.seller-card {
  width: 430px;
  height: 85px;
  border-radius: 16px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.card-desc {
  top: 30px;
  width: 90%;
  height: 100%;
  margin-left: 5%;
  border-radius: 16px;
  line-height: 20px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.button-seller {
  justify-content: center;
  width: 95%;
  height: 50px;
  margin: 10px;
  background-color: #7126B5;
  border-color: #7126B5;
  color: white;
  border-radius: 16px;
}

.button-seller:hover {
  background-color: #7126B5;
  color: white;
  border-color: #7126B5;
}

.button-seller-outline {
  justify-content: center;
  width: 95%;
  height: 50px;
  margin: 10px;
  border-color: #7126B5;
  color: black;
  border-radius: 16px;
}

.button-seller-outline:hover {
  background-color: #7126B5;
  color: white;
  border-color: #7126B5;
}

.seller-btn {
  background-color: white;
  border-color: #7126B5;
  color: black;
  border-radius: 12px;
  margin-top: 7px;
}

.seller-btn:hover {
  background-color: #7126B5;
  border-color: #7126B5;
  color: white;
}