.card-items, 
.card-items-offering {
  background: #FFFFFF;
  /* box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15); */
  border-radius: 10px;
  margin-bottom: 15%;
  max-height: 300px;
}

.card.items-offering {
  border-bottom: 1 px solid #E5E5E5;
  border: none;
}

.card-img-top {
  object-fit: cover;
  border-radius: 10px;
  margin-top: 5%;
  max-width: 90%;
  max-height: 130px;
  text-align: center;
}

.card-product {
  top: -30px;
  width: 430px;
  height: 300px;
  border-radius: 20px;
  z-index: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.card-product-btn {
  top: 10px;
  width: 430px;
  height: 220px;
  border-radius: 16px;
  z-index: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.card-bargain {
  top: 10px;
  width: 430px;
  height: 230px;
  border-radius: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.card-seller {
  width: 100%;
  height: 50%;
  border-radius: 16px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.seller-card {
  width: 430px;
  height: 85px;
  border-radius: 16px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.seller-offering {
  height: 100px;
  border-radius: 16px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.card-desc {
  top: 30px;
  width: 45%;
  height: 100%;
  margin-left: 2%;
  border-radius: 16px;
  line-height: 20px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.item-card-title {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-card-type {
  color: gray;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button-seller {
  justify-content: center;
  width: 95%;
  height: 50px;
  margin: 10px;
  background-color: #7126B5;
  border-color: #7126B5;
  color: white;
  border-radius: 16px;
}

.button-seller:hover {
  background-color: #7126B5;
  color: white;
  border-color: #7126B5;
}

.button-seller-outline {
  justify-content: center;
  width: 95%;
  height: 50px;
  margin: 10px;
  border-color: #7126B5;
  color: black;
  border-radius: 16px;
}

.button-seller-outline:hover {
  background-color: #7126B5;
  color: white;
  border-color: #7126B5;
}

.seller-btn {
  background-color: white;
  border-color: #7126B5;
  color: black;
  border-radius: 12px;
  margin-top: 7px;
}

.seller-btn:hover {
  background-color: #7126B5;
  border-color: #7126B5;
  color: white;
}

.image-offering {
  width: 100%;
  border-radius: 16px;
}

.card-body-offering {
  width: 50%;
}

.button-deny {
  background-color: white;
  border-color: #7126B5;
  color: black;
  border-radius: 16px;
  margin-right: 10px;
  width: 158px;
}

.button-deny:hover {
  background-color: white;
  color: black;
}

.button-accept {
  background-color: #7126B5;
  border-color: #7126B5;
  color: white;
  border-radius: 16px;
  margin-right: 10px;
  width: 158px;
}

.button-accept:hover {
  background-color: #7126B5;
  color: white;
}

.button-align {
  text-align: right;
  margin-bottom: 20px;
}

.button-edit-preview {
  justify-content: center;
  width: 95%;
  height: 50px;
  margin: 10px;
  background-color: #7126B5;
  border-color: #7126B5;
  color: black;
  border-radius: 16px;
}

.seller-picture {
  width: 100%;
  border-radius: 10px;
}

@media (max-width:600px) {
  .card-product{
    margin: auto;
    width: 100%;
    height: auto;
    align-content: center;
    top: -40px;
  }
  .seller-card {
    width: 100%;
    height: auto;
    top:-40px;
    margin: auto;
    /* margin-left: -4%; */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  }

  .card-desc {
    top: -73px;
    width: 86%;
    height: 98%;
    margin: auto;
    /* margin-left: 0%; */
  }

  .card-product-btn {
    margin: auto;
    width: 100%;
    height: auto;
    align-content: center;
    z-index: 1;
    top: -30px;
  }
}