.form-list {
    border-radius: 14px;
    width: 100%;
    height: 100%;
}

.form-desc {
    border-radius: 14px;
    width: 100%;
    height: 90px;
}

.text-city,
.text-category {
    border-radius: 14px;
    width: 100%;
    height: 100%;
}