.card-test {
  width: 268px;
  height: 270px;
  background: #FFFFFF;
  /* Shadow/High */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.text-decoration {
  text-decoration: none;
}

.link-product {
  color: black;
  background-color: transparent !important;
  border-color: transparent !important;
  width: fit-content;
}

.link-product:hover {
  color: #7126B5;
}

.link-product-click {
  font-weight: bold;
  color: #7126B5 !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.li {
  text-decoration: none;
  list-style-type: none;
}

@media only screen and (max-width: 600px) {
  .card-test {
    display: none;
  }
}