.form-products {
  top: 10px;
  justify-content: center;
  position: sticky;
  max-width: 50%;
  max-height: 50%;
  overflow-y: hidden;
}

.preview-button {
  background-color: white;
  border-color: #7126B5;
  color: black;
  width: 90%;
  height: 48px;
  border-radius: 16px;
  justify-content: center;
}

.preview-button:hover {
  background-color: white;
  border-color: #7126B5;
  color: black;
}

.publish-button {
  background-color: #7126B5;
  border-color: #7126B5;
  color: white;
  width: 90%;
  height: 48px;
  border-radius: 16px;
  justify-content: center;
}

.publish-button:hover {
  background-color: #7126B5;
  border-color: #7126B5;
  color: white;
}

::-webkit-file-upload-button {
  display: none;
}

.upload-button {
  justify-content: center;
  width: 96px;
  height: 96px;
  color: transparent;
  background-color: white;
  border-radius: 16px;
  text-align: center;
  /* position: relative; */
  z-index: 0;
}

.upload-button:hover {
  background-color: white;
}

@media (max-width: 445px) {
  .form-products {
    top: 10px;
    justify-content: center;
    position: sticky;
    max-width: 90%;
    max-height: 50%;
    overflow-y: hidden;
  }

  .preview-button {
    width: 90%;
    height: 39px;
    border-radius: 14px;
    font-size: 12px;
  }

  .publish-button {
    width: 100%;
    height: 39px;

    border-radius: 14px;
    font-size: 12px;
  }
}