.button-list {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    width: 50%;
    height: 50%;
    text-align: center;
    align-items: center;
}

.button-category {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    margin-right: 10px;
    background-color: #E2D4F0;
    border-color: #E2D4F0;
    color: black;
}

.button-category:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    margin-right: 10px;
    background-color: #7126B5;
}