.profile {
  top: 10px;
  justify-content: center;
  position: sticky;
  max-width: 50%;
  max-height: 50%;
  overflow-y: hidden;
}

.avatar {
  text-align: center;
  width: 96px;
  height: 96px;
  margin: auto;
  border: 1px solid #ccc;
  z-index: 1;
}

.avatar-image {
  border-radius: 16px;
  color: transparent;
  opacity: 1;
}

.btn-profile {
  background-color: #7126B5;
  color: white;
  border-radius: 16px;
  width: 100%;
}

.btn-profile:hover {
  background-color: #7126B5;
  color: white;
  border-radius: 16px;
}

.img-preview-wrapper {
  text-align: center;
  justify-content: center;
  margin-left: 40%;
  width: 150px;
  height: 150px;
  z-index: 2;
  top: 100px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

@media (max-width: 445px){
  .profile {
      top: 10px;
      justify-content: center;
      position: sticky;
      max-width: 90%;
      max-height: 50%;
      overflow-y: hidden;
  }
}