.login-form {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-20%);
  transform: translateY(-80%);
  text-align: left;
}

/* Form.Label {
  text-align: left;
} */

.btn-primary {
  width: 700px;
}

.text-register {
  text-align: center;
}