.slide {
  transform: scale(0.7);
  transition: transform 300ms;
  opacity: 0.5;
}

.slideWrapper {
  margin-top: 7%;
  display: flex;
  justify-content: center;
}

.slick-list {
  margin: 0 -590px;
}

.slick-slider {
  overflow: hidden;
}

.card-carousel {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.owl-lazy {
  border-radius: 16px;
}